.login-page
{
    background: url('../../../public/media/login-bg.jpg');
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-form
{
    width: 500px;
    background: white;
    padding: 25px;
    height: 500px;
    border-radius: 10px;
}